{% extends 'base.html.twig' %}
{% block title%}Add Device{% endblock %}
{% block name %}Add Device{% endblock %}
{% block body %}
<div class="span6 offset3">
	<form action="" method="post">
		<input type="hidden" name="action" value="add">
		<label>IP Address</label>
		<input type="text" name="ip" placeholder="000.000.000.000">
		<label>Password</label>
		<input type="text" name="device_pass" placeholder="lifesize">
		<label><input type="submit" value="Add" id="addbutton"></label>
	</form>
</div>

{% endblock %}
{% block javascripts %}
{{parent()}}
<script type="text/javascript">
$(document).ready(function(){
	$("#addButton").click(function() {
   		// This sends us an event every time a user clicks the button
	    mixpanel.track("newDevice"); 
	});
});
</script>
{% endblock %}