{% extends 'base.html.twig' %}
{% block body %}
<h1>{{device.name}}</h1>
<div class="span12 row">
	<form class="well" action="" method="POST">
		<label>Device name</label><input type="text" name="name" placeholder="{{device.name}}" />
		<label>IP</label><input type="text" name="ip" placeholder="{{device.ip}}" />
		<input type="hidden" name="action" value="edit" />
		<label /><input type="submit" value="Submit" />
	</form>
</div>
<div class="span12 row">
<pre>
{{dump(device)}}
</pre>
</div>
{% endblock %}