{% extends 'base.html.twig' %}

{% block body %}

<div class="span11 offset1">
	<h2>New Device</h2>
	<div class="span9 well">
		<form action="" method="POST">
			<label>System IP</label>
			<input type="text" name="ip" />
			<label>System Password</label>
			<input type="text" name="password" />
			<p class="help-block">This is stored in plaintext so that we can connect to your system</p>
			<label>System Name (optional)</label>
			<input type="text" name="name" />
			<p class="help-block">This will be updated to your system name after we connect to it</p>
			<input type="hidden" name="action" value="new" />
			<label><input type="submit" value="Submit" /></label>
		</form>
	</div>
</div>
{% endblock %}