{% extends 'base.html.twig'%}
{% block title%}Admin{% endblock %}
{% block name %}Admin<small>{% block subtitle %}{% endblock subtitle %}</small>{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="span3">
      <ul class="nav nav-tabs nav-stacked">
        <!--<li class="header"><h3>Overview</h3></li>-->
        <li class="{% if adminPage == 'overview'%}active{%endif%}"><a href="{{root}}admin">Overview</a></li>
        <li class="header"><h3>Companies</h3></li>
        <li class="{% if adminPage == 'company'%}active{%endif%}"><a href="{{root}}admin/companies">List</a></li>
      </ul>
    </div>
    <div class="span9">
    {% block adminContent %}{%endblock adminContent%}
    </div>
  </div>
</div>
{% endblock body%}