      <ul class="nav nav-tabs nav-stacked">
        <li class="header"><h3>Overview</h3></li>
        <li class="{% if adminPage == 'overview'%}active{%endif%}"><a href="{{root}}admin">Main</a></li>
        <li class="header"><h3>Companies</h3></li>
        <li class="{% if adminPage == 'company'%}active{%endif%}"><a href="{{root}}admin/companies">Companies</a></li>
      </ul>