{% extends 'base.html.twig'%}
{% block title%}Users{% endblock %}
{% block name %}Users{% endblock %}
{% block afterbrand %}<a href="{{root}}users/add" class="right btn btn-small btn-success">New User</a>{% endblock %}
{% block body %}
<form action="{% if debug%}?debug=true{%endif%}" method="post" class="form-horizontal">
	<input type="hidden" name="action" value="add" />
	<legend>User Information</legend>
	<div class="control-group">
		<label class="control-label" for="inputName">Name</label>
		<div class="controls">
			<input type="text" name="name" id="inputName" placeholder="Name">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputEmail">Email</label>
		<div class="controls">
			<input type="text" name="email" id="inputEmail" placeholder="Email">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputLevel">Level</label>
		<div class="controls">
			<select name="level" id="inputLevel">
				{% for level in levels %}
				<option value="{{level.id}}">{{level.name}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Register</button>
				</div>
			</div>
</form>
{% endblock %}