{% extends 'base.html.twig' %}

{% block body %}
<h2>Change {{user.name}}'s Password</h2>
<form action="" method="POST">
	<label>Current Password</label>
	<input type="password" name="old_pass" />
	<label>New Password</label>
	<input type="password" name="password" />
	<label>Verify</label>
	<input type="password" name="password2" />
	<input type="hidden" name="action" value="editPassword" />
	<label><input type="submit" value="Submit"></label>
</form>
{% endblock %}