{% extends 'base.html.twig' %}
{% block nav %}
{% endblock %}
{% block body %}
<div class="span4 offset1 well">
	<form name="login" action="" method="post" >
		<label>Email</label>
			<input type="text" name="email" />
		<label>Password</label>
			<input type="password" name="password" />
		<label>Company</label>
			<input type="text" name="company" />
			<input type="hidden" name="action" value="login" />
		<label><input type="submit" value="Submit" /></label><br />
		<a href="/user/reset">Reset Password</a> | Not yet <a href="/company/register">registered</a>?
	</form>
	</div>
{% endblock %}