{% extends 'base.html.twig'%}
{% block title%}Profile{% endblock %}
{% block name %}Profile{% endblock %}

{% block body %}
<div class="row">
	<div class="span12">
		<form method="post" class="form form-inline">
			<input type="hidden" name="update" value="password">
			<input type="password" name="old_pass" placeholder="Old Password">
			<input type="password" name="password" placeholder="Password">
			<input type="password" name="password2" placeholder="Confirm">
			<input type="submit" value="Save">
		</form>
	</div>
	{% if companies|length > 1%}
	<div class="span12">
		<form method="post" class="form form-inline">
			<input type="hidden" name="update" value="as">
			<select name="as" id="asSelect">
				{% for comp in companies %}
					<option{% if comp.id == me.as %} selected="selected"{% endif %} value="{{comp.id}}">{{comp.name}}</option>
				{% endfor %}
			</select>
			<input type="submit" value="Update" id="updateButton"/>
		</form>
	</div>
	{% endif %}
	
</div>
{% endblock %}
{% block javascripts %}
{{parent()}}
{% if companies|length > 1 %}
<script type="text/javascript">
$(document).ready(function(){
	$("#updateButton").click(function() {
		var newCompany = $("#asSelect").val();
   		// This sends us an event every time a user clicks the button
	    mixpanel.track("changingCompany", {
	    	'oldCompany':'{{user.as}}',
	    	'newCompany':newCompany
	    }); 

	});
});
</script>
{% endif %}
{% endblock %}