{% extends 'base.html.twig' %}
{% block nav %}
{% endblock %}
{% block body %}

<div class="span4 offset4">
	<form action="" method="post">
	<label>EMail</label>
	<input type="text" name="email" />
	<label>Company</label>
	<input type="text" name="company" />
	<label><input type="submit" value="Go!" /></label>
	</form>
</div>
{% endblock %}