{% extends 'base.html.twig' %}
{% block body %}
	<form name="update" action="" method="POST" enctype="multipart/form-data">
		<label>System to Update</label><input type="text" disabled="disabled" value="{{device.name}}" />
		<label>Update:</label>
		<input type="file" name="file" /> 
		<input type="hidden" name="action" value="update" />
		<input type="submit" value="Submit" />
	</form>
	{{file}}
{% endblock %}