div .error {
	border: 1px solid #cc0000;
	padding: 5px 15px 5px 15px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ffc;
}
.online {
	background-image: url('/assets/img/online.png');
	background-repeat: no-repeat;
}
.offline {
	background-image: url('/assets/img/offline.png');
	background-repeat: no-repeat;
}
.calling {
	background-image: url('/assets/img/camera.png');
	background-repeat: no-repeat;
}
#userlist {
	list-style-type: none;
}