.navbar .brand{
	padding-right: 0;
	padding-left: 0;
	margin-left: 20px;
	float: right;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.subscription{
  border: 2px solid #33ff33;
  border-radius: 5px;
}
.current {
  border: 2px solid #99ccff;
  border-radius: 5px;
}
.subscription h4 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 15px;
  margin-left: 25px;
  margin-right: 25px;
}
.subscription h1 {
  text-align: center;
}
.subscription p{
  margin: 10px;
}
.good {
  color: #009933;
}
.bad {
  color: #cc0000;
}
.right{
  float: right;
  margin-left: 10px;
}
body {
	padding-top: 40px;
}
.title {
  background: #ffcc99;
}
.dash-container{
  margin: 5px;
}
.even {

}
.odd {
  background: #ccccff;
}
.error{
  padding: 5px;
  background: #ffffcc;
  border: 1px solid #cc3333;
}
.flash {
  padding: 5px;
  background: #ccffff;
  border: 1px solid #6699cc;
}
/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 8px 0;
  margin-bottom: 5px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #020031; /* Old browsers */

}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Subhead (other pages)
------------------------- */
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

@media print {
  .noprint {
      display:none;
  }
}