{% extends 'base.html.twig' %}
{% block afternav %}
{% if new_user %}<a href="users/new" class="btn-mini btn-success">New User</a>{% endif %}
{% endblock %}
{% block body %}
<ul class="well" id="userlist">
{% for userid in users %}
	<li>
	{% if ( user.level >= 2 or userid.id == user.id )%}
	<a href="/users/view/{{userid.id}}">{{userid.name}}</a>
	{% else %}
	{{userid.name}}
	{% endif %}
	</li>
{% endfor %}
</ul>
{% endblock %}