<html>
<head>
	<title>{% block title %}{{title }} - Videoconferencing Control{% endblock %}</title>
	{% block stylesheets %}
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
	{% endblock %}
</head>
<body>
<div class="container-fluid">
{% if user.id != 0 %}
<div class="row-fluid">
<div class="span10">
	<ul class="nav nav-pills">
		<li{% if ( page == 'home' or page == '' ) %} class="active"{% endif %}><a href="/home">Home</a></li>
		<li{% if ( page == 'devices') %} class="active"{% endif %}><a href="/devices">Devices</a></li>
		{% if user.level >= 1 %}
			<li{% if ( page == 'users') %} class="active"{% endif %}><a href="/users">Users</a></li>
		{% endif %}
		{% if user.level >= 3 %}
			<li{% if ( page == 'company') %} class="active"{% endif %}><a href="/company">Company Details</a></li>
		{% endif %}
		<li><a href="users/logout">Logout</a></li>
	</ul>
</div>
	<div class="span2" style="padding-top: 5px;">
	{% block afternav %}
	{% endblock %}
	</div>
</div>
{% endif %}
{% if errors|length > 0 %}
	<div class="row">
	{% for error in errors %}
		<div class=" span8 offset2 error">
			{{error}}
		</div>
	{% endfor %}
	</div>
{% endif %}
{% if flash|length > 0 %}
	<div class="row">
	{% for notice in flash %}
		<div class=" span8 offset2 flash">
			{{notice}}
		</div>
	{% endfor %}
	</div>
{% endif %}
{% block body %}

{% endblock%}
</div>
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
{% endblock %}
</body>
</html>