<html>
<head>
<title>
	{% block title%}-ControlVC
{%endblock%}
</title>
{% block stylesheets %}

{% endblock %}
</head>
<body>
	{% block body %}
Hello World!
{% endblock %}
{% block javascripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
{% endblock %}
</body>
</html>