<html>
<head>
<title>{{title}} - VC Manager</title>
{% block stylesheets %}
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet">
	<link href="/assets/css/main.css" rel="stylesheet">
{% endblock %}
</head>
<body>
<div class="container-fluid">
<ul class="nav nav-tabs">
{% block nav %}

	<li{% if app.page == 'default' %} class="active"{% endif %}><a href="/home">Dashboard</a></li>
	<li{% if app.page == 'devices' %} class="active"{% endif %}><a href="/devices">Devices</a></li>
	{% if app.user.level > 2 %}
	<li{% if app.page == 'company' %} class="active"{% endif %}><a href="/company">Company</a></li>
	{% endif %}
	
	
	
	{% if app.user.level == 4 %}
	<li{% if app.page == 'admin' %} class="active"{% endif %}><a href="/admin">AdminCP</a></li>
	{% endif %}

{% endblock %}
</ul>
{% block banner %}

{% endblock %}

<div class="row-fluid">
{% block body %}

{% endblock %}
</div>
</div>
{% block javascripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/main.js"></script>
{% endblock %}
<pre>{{dump()}}</pre></body>
</html>